{% load static %}
{% load widget_tweaks %}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Controle de Captação</title>

    <link rel="stylesheet" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
          integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
            integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <style>
        .pusher {
            padding: 50px;
        }

        .blue_color {
            color: #1678C2;
        }

        .blue_background {
            background-color: #1678C2 !important;
            color: white !important;
            font-size: 18px !important;
        }

        .pusher-ref {
            padding: 20px !important;
        }

        a.sidebar_toggle {
            color: white !important;
        }

        a.sidebar_toggle::before {
            background-color: white !important;
        }

        a.sidebar_toggle:hover {
            background-color: #003366 !important;
        }

        .grid-style {
            padding: 30px 0 50px 0 !important;
        }

        #table_candidatos {
            width: 100%;
            background-color: #1678C2;
            border-radius: 5px;
        }

        #table_candidatos thead {
            color: white;
        }

        #table_candidatos th:first-child {
            padding-left: 10px;
            text-align: left
        }

        #table_candidatos td:first-child {
            padding-left: 10px;
            text-align: left
        }

        #table_candidatos th {
            padding-left: 0;
            text-align: left;
        }

        #table_candidatos td {
            padding-left: 0;
            text-align: left;
        }

        .form-ref {
            padding: 20px;
            background-color: #d7d8e0;
        }

        .filter-candidatos {
            margin-top: 35px;
            padding-bottom: 50px;
        }

        .filter-button {
            font-size: 20px;
            font-weight: bold;
        }

    </style>
</head>
<body>
<div class="ui icon left vertical sidebar menu blue_background">
    <a href="{% url 'candidatos' %}" class="item sidebar_toggle">Candidatos</a>
    <a href="{% url 'inscritos' %}" class="item sidebar_toggle">Inscritos</a>
    <a href="{% url 'ex-alunos' %}" class="item sidebar_toggle">Ex alunos</a>
</div>
<!--Inscritos: [Pré inscrição, Ins port diploma, Ins transf externa, Convocado]-->
<!--Ex alunos: [Cancelado, Trancado, Abandono, Formado]-->
<div class="pusher pusher-ref">
    <!-- Site content !-->
    <div class="ui icon open button item sidebar_toggle">
        <a>
            <i class="sidebar icon"></i>
            Menu
        </a>
    </div>

    {% block content %} {% endblock %}
    <div class="ui modal" id="open-modal" tabindex="-1" role="dialog"></div>

    {% comment %}<div id="addPeriodo" class="ui button primary">
        Show Modal
    </div>{% endcomment %}

    {% comment %}<div class="ui info event-modal modal periodo" data-object="trigger1">
        <div class="header">
            <h1 class="ui left floated blue_color">Adicionar novo período MESMO HTML</h1>
        </div>
        <div class="content">
            <form class="ui form" id="form-periodo" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="ui equal width form form-ref">
                    <div class="fields">
                        <div class="field">
                            {% render_field form2.nome %}

                            <label for="novo">Novo Período</label>
                            <input type="text" id="novo" name="novo">
                            <button type="button" id="botao">Incluir</button>

                        </div>
                    </div>

                    <div class="actions">
                        <button type="button" id="botao" class="ui floated button primary">
                            <i class="thumbs up icon"></i>
                            Salvar
                        </button>
                        <div class="ui blue deny button">
                            <i class="thumbs down icon"></i>
                            Cancelar
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>{% endcomment %}


    {% comment %}<div class="ui addCan modal event-modal">
        <div class="header">
            <h1 class="ui left floated blue_color">Adicionar novo candidato</h1>
        </div>
        <div class="content">
            <form class="ui form" action="" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}

                <div class="ui equal width form form-ref">
                    <div class="fields">
                        <div class="field">
                            <h4>
                                Período
                                <i class="plus blue icon" id="trigger1" style="margin-left: 5px; cursor: pointer"></i>
                            </h4>
                            {% render_field form.periodo %}
                        </div>
                        <div class="field">
                            <h4>Polo</h4>
                            {% render_field form.polo %}
                        </div>
                        <div class="field">
                            <h4>Curso</h4>
                            {% render_field form.curso %}
                        </div>
                        <div class="field">
                            <h4>Marketing</h4>
                            {% render_field form.marketing %}
                        </div>
                    </div>

                    <div class="fields">
                        <div class="field">
                            <h4>Nome</h4>
                            {% render_field form.nome %}
                        </div>
                        <div class="field">
                            <h4>Email</h4>
                            {% render_field form.email %}
                        </div>
                    </div>

                    <div class="fields">
                        <div class="field">
                            <h4>Telefone 1</h4>
                            {% render_field form.telefone1 %}
                        </div>
                        <div class="field">
                            <h4>Telefone 2</h4>
                            {% render_field form.telefone2 %}
                        </div>
                        <div class="field">
                            <h4>Data do contato</h4>
                            {% render_field form.data_contato %}
                        </div>
                    </div>

                    <div class="fields">
                        <div class="field">
                            <h4>Atendente</h4>
                            {% render_field form.atendente %}
                        </div>
                        <div class="field">
                            <h4>Status</h4>
                            {% render_field form.status %}
                        </div>
                    </div>

                    <div class="fields">
                        <div class="field">
                            <h4>Observações</h4>
                            {% render_field form.observacoes %}
                        </div>
                    </div>
                    <div class="actions">
                        <button type="submit" class="ui floated button primary">
                            <i class="thumbs up icon"></i>
                            Salvar
                        </button>
                        <div class="ui blue deny button">
                            <i class="thumbs down icon"></i>
                            Cancelar
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="actions">
            <div class="ui blue deny button">
                <i class="close icon"></i>
                Fechar
            </div>
        </div>

    </div>

    <div class="ui info event-modal modal periodo" data-object="trigger1">
        <div class="header">
            <h1 class="ui left floated blue_color">Adicionar novo período MESMO HTML</h1>
        </div>
        <div class="content">
            <form class="ui form" id="form-periodo" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="ui equal width form form-ref">
                    <div class="fields">
                        <div class="field">
                            {% render_field form2.nome %}

                            <label for="novo">Novo Período</label>
                            <input type="text" id="novo" name="novo">
                            <button type="button" id="botao">Incluir</button>

                        </div>
                    </div>

                    <div class="actions">
                        <button type="submit" id="botao" class="ui floated button primary">
                            <i class="thumbs up icon"></i>
                            Salvar
                        </button>
                        <div class="ui blue deny button">
                            <i class="thumbs down icon"></i>
                            Cancelar
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>{% endcomment %}



<script>
    function open_modal(url) {
        $('#open-modal').focus().load(url, function () {
            $(this).modal('show');
        });
    }

    {% comment %}$('.event-modal').modal({
        allowMultiple: true
    });

    $('#trigger1').click(function () {
        $('.periodo.modal').modal('show');
    });

    $('.event-modal.info').each(function (idx, elem) {
        $(elem).modal('attach events', '#' + $(elem).attr('data-object'));
    });


    $(document).ready(function () {
        $("#botao").click(function () {
            $.ajax({
                url: '{% url 'crud_ajax_create' %}',
                type: 'get',
                data: {
                    novo_periodo: $('input[name=novo]').val().trim()
                },
                success: function (response) {
                    console.log(response)
                    $("#id_periodo").append($("<option></option>").attr("value", response.id).text(response.nome));
                    {#closeModal()#}
                },
                error: function () {
                    console.log("ERROR")
                }
            });
            $('form#add_categoria').trigger("reset");
            return false;
        });
    });{% endcomment %}

</script>

<script>
    $('.sidebar_toggle').click(function () {
        $('.ui.sidebar').sidebar('toggle');
    });
    $('.ui.accordion').accordion();
</script>

<script>
    $(document).ready(function () {
        $('#table_candidatos').DataTable({
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select style="border-radius: 4px;"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });
                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            },
            ordering: false,
            "language": {
                "lengthMenu": "Listando _MENU_ registros por pagina",
                "zeroRecords": "Nenhum registro localizado",
                "info": "Pagina _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "infoFiltered": "(Filtrado de _MAX_ total resultados)",
                "search": "Buscar",
                "paginate": {
                    "first": "Primeira",
                    "last": "Última",
                    "next": "Próxima",
                    "previous": "Anterior"
                },
            }
        });
    });
</script>


{% block extrajs %}{% endblock %}

</body>
</html>
