{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="ui grid grid-style">
        <div class="eight wide column">
            <h1 class="ui left floated blue_color">Candidatos</h1>
        </div>
        <div class="eight wide column">
            <a href="#" onclick="open_modal('{% url 'modal_cria_candidato' %}')">
                <button type="submit" id="adicionar" class="ui right floated button primary">Adicionar</button>
            </a>
        </div>
    </div>


    <table id="table_candidatos" class="hover">
        <thead>
        <tr>
            <th>Período</th>
            <th>Polo</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Curso</th>
            <th>Marketing</th>
            <th>Status</th>
            <th>Atendente</th>
            <th>Data do Contato</th>
            <th>Obs</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
        </thead>
        <tbody>
        {% for candidato in candidatos %}
            <tr>
                <td>{{ candidato.periodo }}</td>
                <td>{{ candidato.polo }}</td>
                <td>{{ candidato.nome }}</td>
                <td>{{ candidato.telefone1 }}</td>
                <td>{{ candidato.curso }}</td>
                <td>{{ candidato.marketing }}</td>
                <td>{{ candidato.status }}</td>
                {% if candidato.atendente.first_name %}
                    <td>{{ candidato.atendente.first_name }}</td>
                {% else %}
                    <td>{{ candidato.atendente }}</td>
                {% endif %}
                <td>{{ candidato.data_contato|date:"d/m/Y" }}</td>
                <td>
                    <div class="ui accordion">
                        <div class="title">
                            <i class="plus circle icon"></i>
                            <!-- Alternar quando aberto/fechado minus circle-->
                        </div>
                        <div class="content">
                            <p class="transition hidden">Observações: {{ candidato.observacoes }}</p>
                        </div>
                    </div>
                </td>
                {#                <td><a href="{% url 'editar' candidato.id %}" type="submit" id="editar"><i class="edit icon black"></i></a></td>#}
                {#                <td><a href="{% url 'modal_atualiza_candidato' candidato.id %}"><i class="edit icon black"></i></a></td>#}
                <td><a href="#" onclick="open_modal('{% url 'modal_atualiza_candidato' candidato.id %}')"><i
                        class="edit icon black"></i></a></td>
                <td><a href="#" onclick="open_modal('{% url 'modal_remove_candidato' candidato.id %}')" type="submit"
                       id="remover"><i class="trash icon black"></i></a></td>
                {% comment %}<td><a href="{% url 'modal_remove_candidato' candidato.id %}"><i class="trash icon black"></i></a></td>{% endcomment %}

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form class="ui form filter-candidatos" action="{% url 'candidatos' %}" method="post">
        {% csrf_token %}
        {% comment %}<div class="ui top attached button primary filter-button" tabindex="0">
            <button type="submit"><i class="filter icon"></i>Filtro</button>
        </div>{% endcomment %}
        <div class="ui top attached button primary filter-button" tabindex="0"><i class="filter icon"></i>Filtro</div>
        <div class="ui attached segment">
            <div class="ui grid">
                <div class="four wide column">
                    <div class="ui list">
                        <h3>Período</h3>
                        {% for periodo in periodos %}
                            <div class="item ui toggle checkbox">
                                <input type="checkbox" name="public"/>
                                <label>{{ periodo }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui list">
                        <h3>Polo</h3>
                        {% for polo in polos %}
                            <div class="item ui toggle checkbox">
                                <input type="checkbox" name="public">
                                <label>{{ polo }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui list">
                        <h3>Marketing</h3>
                        {% for marketing in marketing_list %}
                            <div class="item ui toggle checkbox">
                                <input type="checkbox" name="public">
                                <label>{{ marketing }}</label>
                            </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="four wide column">
                    <div class="ui list">
                        <h3>Status</h3>
                        {% for status in status_list %}
                            <div class="item ui toggle checkbox">
                                <input type="checkbox" name="public">
                                <label>{{ status }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% comment %}<button class="ui blue button" type="submit"><i class="thumbs up icon"></i>Salvar</button>{% endcomment %}

    </form>
    <div class="ui modal" id="open-modal" tabindex="-1" role="dialog"></div>

{% endblock %}

{% block extrajs %}
    <script>
        function open_modal(url) {
            $('#open-modal').focus().load(url, function () {
                $(this).modal('show');
                //$('.ui.modal').modal('show')
                {#$(this).click(function () {#}
                {#    $('.ui.modal').modal('show')#}
            });
        }

        $('#adicionar').click(function () {
            $('#novo_candidato').modal('show')
            {% comment %}$('.ui.modal').modal('show'){% endcomment %}
        });

        {% comment %}$('#editar').click(function () {
            $('#editar_candidato').modal('show')
            $('.ui.modal').modal('show')
        })

        $('#remover').click(function () {
            $('#remover_candidato').modal('show')
            $('.ui.modal').modal('show')
        }){% endcomment %}
    </script>
{% endblock %}