{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="ui grid grid-style">
        <div class="eight wide column">
            <h1 class="ui left floated blue_color">Candidatos</h1>
        </div>

        {% comment %}<div class="eight wide column">
            <a href="#" onclick="open_modal('{% url 'modal_cria_candidato' %}')">
                <button type="submit" id="adicionar" class="ui right floated button primary">Adicionar</button>
            </a>
        </div>{% endcomment %}
        <div class="eight wide column">
            <div id="showmodal" class="ui right floated button primary">
                Adicionar
            </div>
        </div>
    </div>
    <table id="table_candidatos" class="hover">
        <thead>
        <tr>
            <th>Período</th>
            <th>Polo</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Curso</th>
            <th>Marketing</th>
            <th>Status</th>
            <th>Atendente</th>
            <th>Data do Contato</th>
            <th>Obs</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
        </thead>
        <tbody>
        {% for candidato in candidatos %}
            <tr>
                <td>{{ candidato.periodo }}</td>
                <td>{{ candidato.polo }}</td>
                <td>{{ candidato.nome }}</td>
                {% if candidato.telefone1 == None %}
                    <td>Não informado</td>
                {% else %}
                    <td>{{ candidato.telefone1 }}</td>
                {% endif %}
                <td>{{ candidato.curso }}</td>
                <td>{{ candidato.marketing }}</td>
                <td>{{ candidato.status }}</td>
                {% if candidato.atendente.first_name %}
                    <td>{{ candidato.atendente.first_name }}</td>
                {% else %}
                    <td>{{ candidato.atendente }}</td>
                {% endif %}
                <td>{{ candidato.data_contato|date:"d/m/Y" }}</td>
                <td>
                    <div class="ui accordion">
                        <div class="title">
                            <i class="plus circle icon"></i>
                        </div>
                        <div class="content">
                            <p class="transition hidden">Observações: {{ candidato.observacoes }}</p>
                        </div>
                    </div>
                </td>
                <td>
                    <a href="#" onclick="open_modal('{% url 'modal_atualiza_candidato' candidato.id %}')">
                        <i class="edit icon black"></i>
                    </a>
                </td>
                <td>
                    <a href="#" onclick="open_modal('{% url 'modal_remove_candidato' candidato.id %}')"
                       type="submit" id="remover"><i class="trash icon black"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Período</th>
            <th>Polo</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Curso</th>
            <th>Marketing</th>
            <th>Status</th>
            <th>Atendente</th>
        </tr>
        </tfoot>
    </table>


    <div id="addCandidato" class="ui modal event-modal">
        <div class="header">
            <h1 class="ui left floated blue_color">Adicionar novo candidato</h1>
        </div>
        <div class="content">
            <form class="ui form" action="{% url 'modal_cria_candidato' %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}

                <div class="ui equal width form form-ref">
                    <div class="fields">
                        <div class="field">
                            <h4>
                                Período
                                <i class="plus blue icon" onclick="get_plus(this)"
                                   style="margin-left: 5px; cursor: pointer"></i>
                            </h4>
                            {% render_field form.periodo %}
                        </div>
                        <div class="field">
                            <h4>
                                Polo
                                <i class="plus blue icon" onclick="get_plus(this)"
                                   style="margin-left: 5px; cursor: pointer"></i>
                            </h4>
                            {% render_field form.polo %}
                        </div>
                        <div class="field">
                            <h4>Curso</h4>
                            {% render_field form.curso %}
                        </div>
                        <div class="field">
                            <h4>Marketing</h4>
                            {% render_field form.marketing %}
                        </div>
                    </div>

                    <div class="fields">
                        <div class="field">
                            <h4>Nome</h4>
                            {% render_field form.nome %}
                        </div>
                        <div class="field">
                            <h4>Email</h4>
                            {% render_field form.email %}
                        </div>
                    </div>

                    <div class="fields">
                        <div class="field">
                            <h4>Telefone 1</h4>
                            {% render_field form.telefone1 %}
                        </div>
                        <div class="field">
                            <h4>Telefone 2</h4>
                            {% render_field form.telefone2 %}
                        </div>
                        <div class="field">
                            <h4>Data do contato</h4>
                            {% render_field form.data_contato %}
                        </div>
                    </div>

                    <div class="fields">
                        <div class="field">
                            <h4>Atendente</h4>
                            {% render_field form.atendente %}
                        </div>
                        <div class="field">
                            <h4>Status</h4>
                            {% render_field form.status %}
                        </div>
                    </div>

                    <div class="fields">
                        <div class="field">
                            <h4>Observações</h4>
                            {% render_field form.observacoes %}
                        </div>
                    </div>
                    <div class="actions">
                        <button type="submit" class="ui floated button primary">
                            <i class="thumbs up icon"></i>
                            Salvar
                        </button>
                        <div class="ui blue deny button">
                            <i class="thumbs down icon"></i>
                            Cancelar
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="actions">
            <div class="ui blue deny button">
                <i class="close icon"></i>
                Fechar
            </div>
        </div>
    </div>

    <!-- Criar novo nome -->
    <div id="criar-novo" class="ui info event-modal modal tiny"> <!-- data-object="trigger1">-->
        <div class="header">
            <h2 class="ui left floated blue_color title-header"></h2>
        </div>

        <div class="content">
            <form class="ui form" action="" onsubmit="salvar_novo(event)" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="ui equal width form-ref">
                    <div class="fields">
                        <div class="field sixteen column wide">
                            <input type="text" name="novo-nome" id="novo-nome" placeholder="Novo">
                        </div>
                    </div>

                    <div class="actions">
                        <button type="submit" id="salvar-novo" class="ui floated button primary actions-buttons">
                            <i class="thumbs up icon"></i>
                            Salvar
                        </button>
                        <div class="ui blue deny button">
                            <i class="thumbs down icon"></i>
                            Cancelar
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script>
        $('.event-modal').modal({
            allowMultiple: true
        });

        $('#showmodal').click(function () {
            $('#addCandidato').modal('show');
        });

        {% comment %}$('.event-modal.info').each(function (idx, elem) {
            $(elem).modal('attach events', '#' + $(elem).attr('data-object'));
        });{% endcomment %}

        h4 = ''

        function get_plus(elem) {
            //id="trigger1"
            //elem.setAttribute('id', 'trigger1')
            h4 = $(elem).parent('h4').text().trim()
            $('.title-header').text('Criar novo ' + h4).addClass('blue_color')
            {% comment %}console.log('get_plus')
            console.log(h4)
            console.log('mostrou?'){% endcomment %}
            $('#criar-novo').modal('show');
        }

        function salvar_novo(event) {
            $.ajax({
                url: '{% url 'create_new_name' %}',
                type: 'get',
                data: {
                    novo_nome: $('input[name=novo-nome]').val().trim(),
                    h4_text: h4
                    {% comment %}h4: $("#trigger1").parent('h4').text().trim(){% endcomment %}
                },
                success: function (response) {
                    console.log('Retorno do Django')
                    console.log(response.novo.id)
                    console.log(response.novo.nome)
                    console.log(response.novo.h4_text)
                    console.log(response.novo.select_id)
                    $(response.novo.select_id).append($("<option></option>").attr("value", response.novo.id).text(response.novo.nome));
                    $('#criar-novo').modal('hide');
                    $('#novo-nome').val('');
                },
                error: function () {
                    console.log("ERROR")
                }
            });
            event.preventDefault();

        }

    </script>
{% endblock %}