{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="ui grid grid-style">
        <div class="eight wide column">
            <h1 class="ui left floated blue_color">Candidatos</h1>
        </div>
        <div class="eight wide column">
            <div id="showmodal-candidato" class="ui right floated button primary">
                Adicionar
            </div>
        </div>
    </div>

    <table id="table-geral" class="hover">
        <thead>
        <tr>
            <th>Período</th>
            <th>Polo</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Curso</th>
            <th>Marketing</th>
            <th>Status</th>
            <th>Atendente</th>
            <th>Data do Contato</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
        </thead>
        <tbody>
        {% for candidato in candidatos %}
            <tr>
                <td>{{ candidato.periodo }}</td>
                <td>{{ candidato.polo }}</td>
                <td>{{ candidato.nome }}</td>
                {% if candidato.telefone1 == None %}
                    <td>Não informado</td>
                {% else %}
                    <td>{{ candidato.telefone1 }}</td>
                {% endif %}
                <td>{{ candidato.curso }}</td>
                <td>{{ candidato.marketing }}</td>
                <td>{{ candidato.status }}</td>
                {% if candidato.atendente.first_name %}
                    <td>{{ candidato.atendente.first_name }}</td>
                {% else %}
                    <td>{{ candidato.atendente }}</td>
                {% endif %}
                <td>{{ candidato.data_contato|date:"d/m/Y" }}</td>
                <td>
                    <a href="#" onclick="open_modal('{% url 'modal_atualiza_candidato' candidato.id %}')">
                        <i class="edit icon black"></i>
                    </a>
                </td>
                <td>
                    <a href="#" onclick="open_modal('{% url 'modal_remove_candidato' candidato.id %}')"
                       type="submit" id="remover"><i class="trash icon black"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Período</th>
            <th>Polo</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Curso</th>
            <th>Marketing</th>
            <th>Status</th>
            <th>Atendente</th>
        </tr>
        </tfoot>
    </table>

    {% include 'modal_cria_candidato.html' %}

{% endblock %}

{% block extrajs %}
    <script>
        $('#showmodal-candidato').click(function () {
            $('#addCandidato').modal('show');
        });
    </script>
{% endblock %}