{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="ui grid grid-style">
        <div class="four column row">
            <div class="left floated column">
                <h1 class="ui left floated blue_color">Ex-Alunos</h1>
            </div>

            <div class="right floated column" style="display: flex; justify-content: right;">
                <form class="ui form" action="{% url 'exalunos' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="inline fields">

                        <div style="margin: 2px">
                            <div class="ui teal floating floated labeled icon dropdown button" id="filter-periodo">
                                <input name="select-periodo" type="hidden">
                                <i class="filter icon"></i>
                                {% if filtro %}
                                    <span id="selected-periodo" class="text">{{ filtro }}</span>
                                {% else %}
                                    <span id="selected-periodo" class="text">Período</span>
                                {% endif %}
                                <div class="menu">
                                    <div class="header">
                                        <i class="tags icon"></i>
                                        Escolha um período
                                    </div>
                                    <div class="item" data-value="0">Período</div>
                                    {% for periodo in periodos %}
                                        <div class="item" data-value="{{ periodo.id }}">
                                            {{ periodo.nome }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="actions">
                            <button type="submit" class="ui button primary actions-buttons">
                                <i class="thumbs up icon"></i>
                                Filtrar
                            </button>
                            <a href="{% url 'exalunos' %}">
                                <div class="ui blue deny button" onclick="no_periodo_selected()">
                                    <i class="close icon"></i>
                                    Limpar filtro
                                </div>
                            </a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div style="display: flex; justify-content: center">
        {% if filtro %}
            <h2>Período selecionado:&nbsp<span id="name-periodo">{{ filtro }}</span></h2>
        {% endif %}
    </div>

    <table id="table-geral" class="hover">
        <thead>
        <tr>
            <th>Período</th>
            <th>Polo</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Curso</th>
            <th>Situação</th>
            <th>Status</th>
            <th>Atendente</th>
            <th>Data da saída</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
        </thead>
        <tbody>
        {% for exaluno in exalunos %}
            <tr>
                <td>{{ exaluno.periodo }}</td>
                <td>{{ exaluno.polo }}</td>
                <td>{{ exaluno.nome }}</td>
                {% if exaluno.telefone1 == None %}
                    <td>Não informado</td>
                {% else %}
                    <td>{{ exaluno.telefone1 }}</td>
                {% endif %}
                <td>{{ exaluno.curso }}</td>
                <td>{{ exaluno.situacao }}</td>
                <td>{{ exaluno.status }}</td>
                {% if exaluno.atendente.first_name %}
                    <td>{{ exaluno.atendente.first_name }}</td>
                {% else %}
                    <td>{{ exaluno.atendente }}</td>
                {% endif %}
                <td>{{ exaluno.data_saida|date:"d/m/Y" }}</td>
                <td>
                    <a href="#" onclick="open_modal('{% url 'modal_atualiza_exaluno' exaluno.id %}')">
                        <i class="edit icon black"></i>
                    </a>
                </td>
                <td>
                    <a href="#" onclick="open_modal('{% url 'modal_remove_exaluno' exaluno.id %}')"
                       type="submit" id="remover"><i class="trash icon black"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Período</th>
            <th>Polo</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Curso</th>
            <th>Situação</th>
            <th>Status</th>
            <th>Atendente</th>
        </tr>
        </tfoot>
    </table>

{% endblock %}

{% block extrajs %}
    <script>
        $('#showmodal-exaluno').click(function () {
            $('#addExAluno').modal('show');
        });
    </script>
{% endblock %}