{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="ui grid grid-style">
        <div class="eight wide column">
            <h1 class="ui left floated blue_color">Ex-Alunos</h1>
        </div>
        <div class="eight wide column">
            <div id="showmodal-exaluno" class="ui right floated button primary">
                Adicionar
            </div>
        </div>
    </div>

    <table id="table-geral" class="hover">
        <thead>
        <tr>
            <th>Período</th>
            <th>Polo</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Curso</th>
            <th>Situação</th>
            <th>Status</th>
            <th>Atendente</th>
            <th>Data da saída</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
        </thead>
        <tbody>
        {% for exaluno in exalunos %}
            <tr>
                <td>{{ exaluno.periodo }}</td>
                <td>{{ exaluno.polo }}</td>
                <td>{{ exaluno.nome }}</td>
                {% if exaluno.telefone1 == None %}
                    <td>Não informado</td>
                {% else %}
                    <td>{{ exaluno.telefone1 }}</td>
                {% endif %}
                <td>{{ exaluno.curso }}</td>
                <td>{{ exaluno.situacao }}</td>
                <td>{{ exaluno.status }}</td>
                {% if exaluno.atendente.first_name %}
                    <td>{{ exaluno.atendente.first_name }}</td>
                {% else %}
                    <td>{{ exaluno.atendente }}</td>
                {% endif %}
                <td>{{ exaluno.data_saida|date:"d/m/Y" }}</td>
                <td>
                    <a href="#" onclick="open_modal('{% url 'modal_atualiza_exaluno' exaluno.id %}')">
                        <i class="edit icon black"></i>
                    </a>
                </td>
                <td>
                    <a href="#" onclick="open_modal('{% url 'modal_remove_exaluno' exaluno.id %}')"
                       type="submit" id="remover"><i class="trash icon black"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Período</th>
            <th>Polo</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Curso</th>
            <th>Situação</th>
            <th>Status</th>
            <th>Atendente</th>
        </tr>
        </tfoot>
    </table>

    {% include 'modal_cria_exaluno.html' %}

{% endblock %}

{% block extrajs %}
    <script>
        $('#showmodal-exaluno').click(function () {
            $('#addExAluno').modal('show');
        });
    </script>
{% endblock %}