{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="ui grid grid-style">
        <div class="eight wide column">
            <h1 class="ui left floated blue_color">Inscritos</h1>
        </div>
        <div class="eight wide column">
            <div id="showmodal-inscrito" class="ui right floated button primary">
                Adicionar
            </div>
        </div>
    </div>

    <table id="table-geral" class="hover">
        <thead>
        <tr>
            <th>Período</th>
            <th>Polo</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Curso</th>
            <th>Situação</th>
            <th>Status</th>
            <th>Data do Contato</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
        </thead>
        <tbody>
        {% for inscrito in inscritos %}
            <tr>
                <td>{{ inscrito.periodo }}</td>
                <td>{{ inscrito.polo }}</td>
                <td>{{ inscrito.nome }}</td>
                {% if inscrito.telefone1 == None %}
                    <td>Não informado</td>
                {% else %}
                    <td>{{ inscrito.telefone1 }}</td>
                {% endif %}
                <td>{{ inscrito.curso }}</td>
                <td>{{ inscrito.situacao }}</td>
                <td>{{ inscrito.status }}</td>
                <td>{{ inscrito.data_contato|date:"d/m/Y" }}</td>
                <td>
                    <a href="#" onclick="open_modal('{% url 'modal_atualiza_inscrito' inscrito.id %}')">
                        <i class="edit icon black"></i>
                    </a>
                </td>
                <td>
                    <a href="#" onclick="open_modal('{% url 'modal_remove_inscrito' inscrito.id %}')"
                       type="submit" id="remover"><i class="trash icon black"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Período</th>
            <th>Polo</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Curso</th>
            <th>Situação</th>
            <th>Status</th>
        </tr>
        </tfoot>
    </table>

    {% include 'modal_cria_inscrito.html' %}

{% endblock %}

{% block extrajs %}
    <script>
        $('#showmodal-inscrito').click(function () {
            $('#addInscrito').modal('show');
        });
    </script>
{% endblock %}