{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="ui grid grid-style">
        <div class="four column row">
            <div class="left floated column">
                <h1 class="ui left floated blue_color">Inscritos</h1>
            </div>

            <div class="right floated column" style="display: flex; justify-content: right;">
                <form class="ui form" action="{% url 'inscritos' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'filter.html' with url_redirect='inscritos' %}
                    <div style="display: flex; justify-content: space-between">
                        <div id="showmodal-inscrito" class="ui right floated button primary">
                            Adicionar novo inscrito
                        </div>
                        <button class="ui button primary" id="btnSendEmail" onclick="sendEmail()">
                            <i class="envelope outline icon" style="margin-right: 10px"></i>Enviar email
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div style="display: flex; justify-content: center">
        {% if filtro %}
            <h2>Período selecionado:&nbsp<span id="name-periodo">{{ filtro }}</span></h2>
        {% endif %}
    </div>

    <table id="table-geral" class="hover">
        <thead>
        <tr>
            <th>Polo</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Curso</th>
            <th>Situação</th>
            <th>Último Atendimento</th>
            <th>Atendimentos</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
        </thead>
        <tbody>
        {% for inscrito in inscritos %}
            <tr>
                <td>{{ inscrito.polo }}</td>
                <td>{{ inscrito.nome }}</td>
                {% if inscrito.telefone1 == None %}
                    <td>Não informado</td>
                {% else %}
                    <td>{{ inscrito.telefone1 }}</td>
                {% endif %}
                <td>{{ inscrito.curso }}</td>
                <td>{{ inscrito.situacao }}</td>
                <td>{{ inscrito.status_atendimento }}</td>
                <td>
                    <a href="#" onclick="open_modal('{% url 'atendimentos_inscrito' inscrito.id %}')">
                        <i class="phone square icon black"></i>
                    </a>
                </td>
                <td>
                    <a href="#" onclick="open_modal('{% url 'modal_atualiza_inscrito' inscrito.id %}')">
                        <i class="edit icon black"></i>
                    </a>
                </td>
                <td>
                    <a href="#" onclick="open_modal('{% url 'modal_remove_inscrito' inscrito.id %}')"
                       type="submit" id="remover"><i class="trash icon black"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Polo</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Curso</th>
            <th>Situação</th>
            <th>Último Atendimento</th>
            <th>Atendimentos</th>
        </tr>
        </tfoot>
    </table>

    {% include 'modal_cria_inscrito.html' %}

{% endblock %}

{% block extrajs %}
    <script>
        $('#showmodal-inscrito').click(function () {
            $('#addInscrito').modal('show');
        });
    </script>
{% endblock %}