<div class="header">
    <h1 class="ui left floated blue_color">Remover candidato</h1>
    <form action="{% url 'modal_remove_candidato' candidato.id %}" method="post"
          enctype="multipart/form-data">
        <p>Tem certeza que deseja excluir <span>{{ candidato }}</span> ?</p>
        {% csrf_token %}
        <div class="actions">
            <button class="ui blue deny button" type="submit"><i class="thumbs up icon"></i>Sim</button>
            <div class="ui blue deny button">
                <i class="thumbs down icon"></i>
                Cancelar
            </div>
        </div>
    </form>
</div>
<div class="actions">
    <div class="ui blue deny button">
        <i class="close icon"></i>
        Fechar
    </div>
</div>
