{% load widget_tweaks %}
    {% comment %}<div class="header">
        <h1 class="ui left floated blue_color">Adicionar novo período HTML PAGE</h1>
    </div>
    <form class="ui form" action="{% url 'modal_cria_periodo' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="ui equal width form form-ref">
            <div class="field">
                {% render_field form.nome %}
            </div>

            <div class="actions">
                <button type="submit" class="ui floated button primary" data-dismiss="ui modal">
                    <i class="thumbs up icon"></i>
                    Salvar
                </button>
                <div class="ui blue deny button">
                    <i class="thumbs down icon"></i>
                    Cancelar
                </div>
            </div>

        </div>
    </form>
    <div class="actions">
        <div class="ui blue deny button">
            <i class="close icon"></i>
            Fechar
        </div>
    </div>{% endcomment %}




<div class="ui info event-modal modal periodo" data-object="trigger1">
        <div class="header">
            <h1 class="ui left floated blue_color">Adicionar novo período MESMO HTML</h1>
        </div>
        <div class="content">
            <form class="ui form" id="form-periodo" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="ui equal width form form-ref">
                    <div class="fields">
                        <div class="field">
                            {% comment %}{% render_field form2.nome %}{% endcomment %}

                            <label for="novo">Novo Período</label>
                            <input type="text" id="novo" name="novo">
                            {% comment %}<button type="button" id="botao">Incluir</button>{% endcomment %}

                        </div>
                    </div>

                    <div class="actions">
                        <button type="submit" id="botao" class="ui floated button primary">
                            <i class="thumbs up icon"></i>
                            Salvar
                        </button>
                        <div class="ui blue deny button">
                            <i class="thumbs down icon"></i>
                            Cancelar
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>




{% block extrajs %}
 {% comment %}   <script>
        $(function () {
            $('form').on('submit', function () {
                $('.ui.modal').modal('hide');
                $.ajax({
                    type: 'POST',
                    url: '{% url 'modal_cria_periodo' %}',
                    data: {nome: $(this).nome.value}
                });
                return false;
            });
        })
    </script>{% endcomment %}

    {% comment %}<script>
        $('form').on('submit', function () {
            $('.ui.modal').modal('hide');

        });
    </script>{% endcomment %}
{% endblock %}
