{% extends 'base.html' %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" required name="files">
        <button id="showLoading" type="submit">submit</button>
    </form>
{% comment %}
    <div class="ui segment">
        <p>Inserindo ou atualizando alunos</p>
        <div class="ui active dimmer">
            <div class="ui loader"></div>
        </div>
    </div>
{% endcomment %}
    <div class="ui dimmer" id="dimmer">
        <div class="ui massive text loader">
            <h3>Loading</h3>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script>
    $('#showLoading').click(function () {
        $('#dimmer').dimmer('show');
    });

    </script>
{% endblock %}
