{% load widget_tweaks %}
<div class="header">
    <h1 class="ui left floated blue_color">Editar candidato</h1>
</div>
<div class="content">
    <form class="ui form" action="{% url 'modal_atualiza_candidato' form.instance.id %}" method="post"
          enctype="multipart/form-data">
        {% csrf_token %}

        <div class="ui equal width form form-ref">
            <div class="fields">
                <div class="field">
                    <h4>Polo</h4>
                    {% render_field form.polo %}
                </div>
                <div class="field">
                    <h4>Curso</h4>
                    {% render_field form.curso %}
                </div>
                <div class="field">
                    <h4>Marketing</h4>
                    {% render_field form.marketing %}
                </div>
            </div>

            <div class="fields">
                <div class="field">
                    <h4>Nome</h4>
                    {% render_field form.nome %}
                </div>
                <div class="field">
                    <h4>Email</h4>
                    {% render_field form.email %}
                </div>
            </div>

            <div class="fields">
                <div class="field">
                    <h4>Telefone 1</h4>
                    {% render_field form.telefone1 %}
                </div>
                <div class="field">
                    <h4>Telefone 2</h4>
                    {% render_field form.telefone2 %}
                </div>
            </div>

            <div class="fields">
                <div class="field">
                    <h4>Status do atendimento</h4>
                        {% render_field form.status_atendimento %}
                </div>
            </div>

            <div class="fields">
                <div class="field">
                    <h4>Períodos</h4>
                    <p style="background-color: white; padding: 10px; border-radius: 3px">
                        {% for periodo in periodos %}
                            {{ periodo }}
                            <br>
                        {% endfor %}
                    </p>
                </div>
            </div>

            {% comment %}{% include 'attendances.html' %}{% endcomment %}

            <div class="fields">
                <div class="field">
                    <h4>Observações</h4>
                    {% render_field form.observacoes %}
                </div>
            </div>

            <div class="actions">
                <button type="submit" class="ui floated button primary actions-buttons">
                    <i class="thumbs up icon"></i>
                    Salvar
                </button>
                <div class="ui grey deny button">
                    <i class="thumbs down icon"></i>
                    Cancelar
                </div>
            </div>

        </div>
    </form>
</div>
<div class="actions">
    <div class="ui blue deny button">
        <i class="close icon"></i>
        Fechar
    </div>
</div>

<script>
    $(document).ready(function () {
        cleanAttendance();
    });

    $('#novoAtendimento').click(function () {
        $('#criarCampo').show();
        $('#descricao').focus();
        $("#novoAtendimento").hide();
        $("#salvaAtendimento").show();
        $("#cancelaAtendimento").show();
        $("#id_status").show();
    });
    $('#salvaAtendimento').click(function (event) {
        var select = document.getElementById("id_status");
        {% comment %}var statusId = select.options[select.selectedIndex].value;{% endcomment %}
        console.log(select.options[select.selectedIndex].value)

        if (($('#descricao').val() !== '') && (select.options[select.selectedIndex].value !== '')) {
            $.ajax({
                url: '{% url 'create_candidato_attendance' %}',
                type: 'get',
                data: {
                    descricao: $('textarea[name=descricao]').val().trim(),
                    candidato: {{ form.instance.id }},
                    statusId: select.options[select.selectedIndex].value
                },
                {% comment %}$("#name-periodo").text($("#selected-periodo").text()){% endcomment %}

                success: function (response) {
                    console.log(response.data)
                    console.log(response.descricao)
                    console.log(response.status)
                    if (response !== {}) {
                        $('' +
                            '<div class="ui segment">' +
                            '<div class="ui secondary segment">' +
                            '<h5 class="ui center aligned header">' +
                            '<i class="phone square icon"></i>' +
                            response.status +
                            '</h5>' +
                            '</div>' +
                            '<h5 class="ui left floated header">Atendente: ' + response.atendente + '</h5>' +
                            '<h5 class="ui right floated header">' + response.data + '</h5>' +
                            '<div class="ui clearing divider"></div>' +
                            '<p>' + response.descricao + '</p>' +
                            '</div>'
                        ).prependTo("#attendances");
                        $("#ultimo-status").text(response.status);
                        $("#status-atend").text(response.status);
                        cleanAttendance();
                    }
                },
                error: function () {
                    console.log("ERROR");
                }
            });
        }
        event.preventDefault();
    });

    function cleanAttendance() {
        $('#criarCampo').hide();
        $('#descricao').val('');
        $("#cancelaAtendimento").hide();
        $("#salvaAtendimento").hide();
        $("#id_status").hide();
        $("#novoAtendimento").show();
    }
</script>
