{% load widget_tweaks %}
{% comment %}{% block content %}{% endcomment %}
<div class="header">
    <h1 class="ui left floated blue_color">Adicionar novo candidato</h1>
</div>
<div class="content">
    <form class="ui form" action="{% url 'modal_cria_candidato' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="ui equal width form form-ref">
            <div class="fields">
                <div class="field">
                    <h4>Período
                        <a href="#" onclick="open_modal('{% url 'modal_cria_periodo' %}')">
                            <i class="plus icon"></i>
                        </a>
                    </h4>
                    {% render_field form.periodo %}
                </div>
                <div class="field">
                    <h4>Polo</h4>
                    {% render_field form.polo %}
                </div>
                <div class="field">
                    <h4>Curso</h4>
                    {% render_field form.curso %}
                </div>
                <div class="field">
                    <h4>Marketing</h4>
                    {% render_field form.marketing %}
                </div>
            </div>

            <div class="fields">
                <div class="field">
                    <h4>Nome</h4>
                    {% render_field form.nome %}
                </div>
                <div class="field">
                    <h4>Email</h4>
                    {% render_field form.email %}
                </div>
            </div>

            <div class="fields">
                <div class="field">
                    <h4>Telefone 1</h4>
                    {% render_field form.telefone1 %}
                </div>
                <div class="field">
                    <h4>Telefone 2</h4>
                    {% render_field form.telefone2 %}
                </div>
                <div class="field">
                    <h4>Data do contato</h4>
                    {% render_field form.data_contato %}
                </div>
            </div>

            <div class="fields">
                <div class="field">
                    <h4>Atendente</h4>
                    {% render_field form.atendente %}
                </div>
                <div class="field">
                    <h4>Status</h4>
                    {% render_field form.status %}
                </div>
            </div>

            <div class="fields">
                <div class="field">
                    <h4>Observações</h4>
                    {% render_field form.observacoes %}
                </div>
            </div>
            <div class="actions">
                <button type="submit" class="ui floated button primary">
                    <i class="thumbs up icon"></i>
                    Salvar
                </button>
                <div class="ui blue deny button">
                    <i class="thumbs down icon"></i>
                    Cancelar
                </div>
            </div>
        </div>
    </form>
</div>
<div class="actions">
    <div class="ui blue deny button">
        <i class="close icon"></i>
        Fechar
    </div>
</div>
{% comment %}{% endblock %}{% endcomment %}

<!--script js-->
{% block extrajs %}
    <script>
        $('.event-modal').modal({
            allowMultiple: true
        });

        $('#showmodal').click(function () {
            $('.fullscreen.modal').modal('show');
        });

        $('.event-modal.info').each(function (idx, elem) {
            $(elem).modal('attach events', '#' + $(elem).attr('data-object'));
        });

        $('form').on('submit', function (e) {
            let url = ''
            let postData = $('form').serialize();
            $.ajax({
                url: url,
                type: 'POST',
                data: postData,
                success: function (response) {
                    console.log(response.data);
                },
                error: function (xhr) {
                    console.log('Erro');
                },
                complete: function () {
                    closeModal();
                    console.log('Complete');
                }
            });
            e.preventDefault();
        });

        function closeModal() {
            {#$('.modal').modal('hide');#}
            $('#id_nome').val('');
        }
    </script>
{% endblock extrajs %}
<!--fim do script js-->
