{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <!--novo modal-->
    <div id="showmodal" class="ui button primary">
        Show Modal
    </div>
    <div class="ui fullscreen modal event-modal">
        <div class="header">
            <h1 class="ui left floated blue_color">Adicionar novo candidato</h1>
        </div>
        <div class="content">
            {% comment %}<div id="trigger1">{% endcomment %}
                <form class="ui form" action="{% url 'modal_cria_candidato' %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="ui equal width form form-ref">
                        <div class="fields">
                            <div class="field">

                                <div id="trigger1">
                                <h4>Período
                                    <a href="#"><i class="plus blue icon"></i></a>
                                    {#                                    <a href="#" onclick="open_modal('{% url 'modal_cria_periodo' %}')">#}
                                    {#                                    <i class="plus icon"></i>#}
                                </h4>
                                </div>

                                {% comment %}<a href="#" onclick="open_modal('{% url 'modal_cria_periodo' %}')">
                                    <i class="plus icon"></i>
                                </a>{% endcomment %}

                                {% render_field form.periodo %}
                            </div>
                            <div class="field">
                                <h4>Polo</h4>
                                {% render_field form.polo %}
                            </div>
                            <div class="field">
                                <h4>Curso</h4>
                                {% render_field form.curso %}
                            </div>
                            <div class="field">
                                <h4>Marketing</h4>
                                {% render_field form.marketing %}
                            </div>
                        </div>

                        <div class="fields">
                            <div class="field">
                                <h4>Nome</h4>
                                {% render_field form.nome %}
                            </div>
                            <div class="field">
                                <h4>Email</h4>
                                {% render_field form.email %}
                            </div>
                        </div>

                        <div class="fields">
                            <div class="field">
                                <h4>Telefone 1</h4>
                                {% render_field form.telefone1 %}
                            </div>
                            <div class="field">
                                <h4>Telefone 2</h4>
                                {% render_field form.telefone2 %}
                            </div>
                            <div class="field">
                                <h4>Data do contato</h4>
                                {% render_field form.data_contato %}
                            </div>
                        </div>

                        <div class="fields">
                            <div class="field">
                                <h4>Atendente</h4>
                                {% render_field form.atendente %}
                            </div>
                            <div class="field">
                                <h4>Status</h4>
                                {% render_field form.status %}
                            </div>
                        </div>

                        <div class="fields">
                            <div class="field">
                                <h4>Observações</h4>
                                {% render_field form.observacoes %}
                            </div>
                        </div>
                        <div class="actions">
                            <button type="submit" class="ui floated button primary">
                                <i class="thumbs up icon"></i>
                                Salvar
                            </button>
                            <div class="ui blue deny button">
                                <i class="thumbs down icon"></i>
                                Cancelar
                            </div>
                        </div>
                    </div>
                </form>
            {% comment %}</div>{% endcomment %}
            <div class="actions">
                <div class="ui blue deny button">
                    <i class="close icon"></i>
                    Fechar
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui deny black button">
                Close
            </div>
        </div>
    </div>

    <div class="ui info event-modal modal periodo" data-object="trigger1">
        <div class="header">
            <h1 class="ui left floated blue_color">Adicionar novo período MESMO HTML</h1>
        </div>
        <div class="content">
            <form class="ui form" action="{% url 'modal_cria_periodo' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="ui equal width form form-ref">
                    <div class="fields">
                        <div class="field">
                            {% render_field form2.nome %}
                        </div>
                    </div>

                    <div class="actions">
                        <button type="submit" class="ui floated button primary">
                            <i class="thumbs up icon"></i>
                            Salvar
                        </button>
                        <div class="ui blue deny button">
                            <i class="thumbs down icon"></i>
                            Cancelar
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="actions">
        <div class="ui blue deny button">
            <i class="close icon"></i>
            Fechar
        </div>
    </div>


    {% comment %}<div class="ui info event-modal modal" data-object="trigger2">
    <div class="header">
        ecs_sign.c2
    </div>
    <div class="content">
        test?2
    </div>
    <div class="actions">
        <div class="ui deny black button">Close</div>
    </div>
</div>

<div class="ui info event-modal modal" data-object="trigger3">
    <div class="header">
        ecs_sign.c3
    </div>
    <div class="content">
        test?3
    </div>
    <div class="actions">
        <div class="ui deny black button">Close</div>
    </div>
</div>{% endcomment %}
    <!--fim do novo modal-->
{% endblock content %}

<!--script js-->
{% block extrajs %}
    <script>
        $('.event-modal').modal({
            allowMultiple: true
        });

        $('#showmodal').click(function () {
            $('.fullscreen.modal').modal('show');
        });

        $('.event-modal.info').each(function (idx, elem) {
            $(elem).modal('attach events', '#' + $(elem).attr('data-object'));
        });

        $('.periodo').on('submit', function (e) {
            let url = ''
            let postData = $('.periodo').serialize();
            $.ajax({
                url: url,
                type: 'POST',
                data: postData,
                success: function () {
                    console.log('sucess');
                    {% comment %}console.log(response.data);{% endcomment %}
                },
                error: function (xhr) {
                    console.log('Erro');
                    console.log(xhr)
                },
                complete: function () {
                    let period_name = $('#periodo-nome').val();
                    $("#id_periodo").append($("<option></option>").attr("value", 1000).text(period_name));

                    // com JS puro
                    {% comment %}const select = document.querySelector('#myselect');
                    select.options[select.options.length] = new Option('My option', 'My value');{% endcomment %}


                    {% comment %}console.log(no){% endcomment %}
                    {% comment %}$("#id_periodo").append(<option value="1000">${no}</option>);{% endcomment %}
                    closeModal();
                    console.log('Complete');
                }
            });
            e.preventDefault();
        });

        function closeModal() {
            $('.modal.periodo').modal('hide');
            {% comment %}let n = $("#periodo-nome").val();{% endcomment %}
            {#$("#id_periodo").append('<option value="1000">${no}</option>');#}
            {#$("#id_periodo").append($("<option></option>").attr("value", 1000).text(no));#}
            {% comment %}$('#meu_select').append($("<option></option>").attr("value", id).text(valor)); {% endcomment %}

            {% comment %}$("#id_periodo").append('<option value="1000">n</option>');{% endcomment %}
            $('#periodo-nome').val('');
        }
    </script>
{% endblock extrajs %}
<!--fim do script js-->

<!--exemplo semantic-ui-->
{% comment %}<script>
    // initialize all modals
    $('.coupled.modal')
        .modal({allowMultiple: true});
    // open second modal on first modal buttons
    $('.second.modal')
        .modal('attach events', '.first.modal .button');
    // show first immediately
    $('.first.modal').modal('show');
</script>{% endcomment %}
<!--fim do exemplo semantic-ui-->
