<!--novo modal-->
<div id="showmodal" class="ui button primary">
    Show Modal
</div>
<div class="ui fullscreen modal event-modal">
    <div class="header">
        ecs_sign.c
    </div>
    <div class="content">
        <div id="trigger1" class="ui primary button">
            test1
        </div>
        <div id="trigger2" class="ui primary button">
            test2
        </div>
        <div id="trigger3" class="ui primary button">
            test3
        </div>
    </div>
    <div class="actions">
        <div class="ui deny black button">
            Close
        </div>
    </div>
</div>

<div class="ui info event-modal modal" data-object="trigger1">
    <div class="header">
        ecs_sign.c1
    </div>
    <div class="content">
        test?1
    </div>
    <div class="actions">
        <div class="ui deny black button">Close</div>
    </div>
</div>

<div class="ui info event-modal modal" data-object="trigger2">
    <div class="header">
        ecs_sign.c2
    </div>
    <div class="content">
        test?2
    </div>
    <div class="actions">
        <div class="ui deny black button">Close</div>
    </div>
</div>

<div class="ui info event-modal modal" data-object="trigger3">
    <div class="header">
        ecs_sign.c3
    </div>
    <div class="content">
        test?3
    </div>
    <div class="actions">
        <div class="ui deny black button">Close</div>
    </div>
</div>
<!--fim do novo modal-->

<!--script js-->
<script>
    $('.event-modal').modal({
        allowMultiple: true
    });

    $('#showmodal').click(function () {
        $('.fullscreen.modal').modal('show');
    });

    $('.event-modal.info').each(function (idx, elem) {
        $(elem).modal('attach events', '#' + $(elem).attr('data-object'));
    });
</script>
<!--fim do script js-->

<!--exemplo semantic-ui-->
{% comment %}<script>
    // initialize all modals
    $('.coupled.modal')
        .modal({allowMultiple: true});
    // open second modal on first modal buttons
    $('.second.modal')
        .modal('attach events', '.first.modal .button');
    // show first immediately
    $('.first.modal').modal('show');
</script>{% endcomment %}
<!--fim do exemplo semantic-ui-->
